<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pjj.music.dao.ConsumerMapper">

    <resultMap id="BaseResultMap" type="org.pjj.music.domain.Consumer">
        <id column="id" jdbcType="INTEGER" property="id" /><!-- column 表示字段, property 表示属性 -->
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="sex" jdbcType="INTEGER" property="sex" />
        <result column="phone_num" jdbcType="VARCHAR" property="phoneNum" />
        <result column="birth" jdbcType="TIMESTAMP" property="birth" />
        <result column="introduction" jdbcType="VARCHAR" property="introduction" />
        <result column="location" jdbcType="VARCHAR" property="location" />
        <result column="avator" jdbcType="VARCHAR" property="avator" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>

    <sql id="Base_Column_List">
        id,username,password,sex,phone_num,birth,introduction,location,avator,create_time,update_time
    </sql>

    <insert id="insert" parameterType="org.pjj.music.domain.Consumer">
        insert into consumer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">
                id,
            </if>
            <if test="username != null and username != ''">
                username,
            </if>
            <if test="password != null and password != ''">
                password,
            </if>
            <if test="sex != null ">
                sex,
            </if>
            <if test="phoneNum != null and phoneNum != ''">
                phone_num,
            </if>
            <if test="email != null and email != ''">
                email,
            </if>
            <if test="birth != null">
                birth,
            </if>
            <if test="introduction != null and introduction != ''">
                introduction,
            </if>
            <if test="location != null and location != ''">
                location,
            </if>
            <if test="avator != null and avator != ''">
                avator,
            </if>
            create_time,update_time,
        </trim>
        <trim prefix=" values(" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">
                #{id},
            </if>
            <if test="username != null and username != ''">
                #{username},
            </if>
            <if test="password != null and password != ''">
                #{password},
            </if>
            <if test="sex != null ">
                #{sex},
            </if>
            <if test="phoneNum != null and phoneNum != ''">
                #{phoneNum},
            </if>
            <if test="email != null and email != ''">
                #{email},
            </if>
            <if test="birth != null">
                #{birth},
            </if>
            <if test="introduction != null and introduction != ''">
                #{introduction},
            </if>
            <if test="location != null and location != ''">
                #{location},
            </if>
            <if test="avator != null and avator != ''">
                #{avator},
            </if>
            now(),now(),
        </trim>
    </insert>

    <update id="update" parameterType="org.pjj.music.domain.Consumer">
        update consumer
        <set>
            <if test="username != null and username != ''">
                username = #{username},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="sex != null ">
                sex = #{sex},
            </if>
            <if test="phoneNum != null and phoneNum != ''">
                phone_num = #{phoneNum},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="birth != null">
                birth = #{birth},
            </if>
            <if test="introduction != null and introduction != ''">
                introduction = #{introduction},
            </if>
            <if test="location != null and location != ''">
                location = #{location},
            </if>
            <if test="avator != null and avator != ''">
                avator = #{avator},
            </if>
            update_time = now(),
        </set>
        where id = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Integer">
        delete from consumer where id = #{id}
    </delete>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        ,email
        from consumer
        where id = #{id}
    </select>

    <select id="allConsumer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        ,email
        from consumer
    </select>

    <select id="verifyPassword" resultType="java.lang.Integer">
        select count(*)
        from consumer
        where username = #{username} and password = #{password}
    </select><!-- #{name} 模糊查询在这里没有加 %  由前端传值的时候直接加上 -->

    <select id="getByUsername" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from consumer
        where username = #{username}
    </select>

    <select id="getDetailById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from consumer
        where id = #{id}
    </select>

    <select id="selectMeLoveSongId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select song_id from collect where user_id = #{userId} and type = '0'
    </select>

</mapper>